
<script type="text/javascript">
    //Перенаправление на home/index если пользователь уже зарегистрирован
    var tokenKey = "tokenInfo";
    var token = sessionStorage.getItem(tokenKey);
    if ('@User.Identity.IsAuthenticated' == "True") {
         window.location.replace('@Url.Action("RightCity", "Home", null, Request.Url.Scheme, null)');
    }
</script>


<form style="margin-top:3%;" class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend><center><h2><b>Авторизация</b></h2></center></legend><br>

        <!-- E-Mail-->
        <div class="form-group">
            <label class="col-sm-4 control-label">E-Mail</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail" class="form-control" type="email" id="emailLogin">
                </div>
            </div>
        </div>

        <!-- password -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Пароль</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input name="user_password" placeholder="Пароль" class="form-control" type="password" id="passwordLogin">
                </div>
            </div>
        </div>

        <!-- Select Basic -->
        <!-- Success message -->
        <div class="alert alert-success" style="display:none" role="alert" id="success_message">Успешно!<i class="glyphicon glyphicon-thumbs-up"></i></div>

        <!-- Send -->
        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4" style="text-align:center">
                <br>
                <button type="submit" id="submitLogin" class="btn btn-info">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspАвторизоваться <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
        </div>



    </fieldset>
</form>

<script type="text/javascript">
    var tokenKey = "tokenInfo";
    function BeginClient(xhr) {
        var token = sessionStorage.getItem(tokenKey);
        xhr.setRequestHeader("Authorization", "Bearer " + token);
    }
</script>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var tokenKey = "tokenInfo";

            function BeginClient(xhr) {
                var token = sessionStorage.getItem(tokenKey);
                xhr.setRequestHeader("Authorization", "Bearer " + token);
            }


            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData,
                    success: function (data) {
                        $('#success_message').css('display', 'block');
                        sessionStorage.setItem(tokenKey, data.access_token);
                        window.location.replace('@Url.Action("RightCity", "Home", null, Request.Url.Scheme, null)');
                    },
                    fail: function (data) {
                        alert('При логине возникла ошибка');
                    }
                });
            });

            $('#logOut').click(function (e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
            });
        })
    </script>
}


